@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,700&display=swap');
$fondo:#ffbf75;
$tipografia:'Merriweather', serif;
$borde: 2px solid #f4ff91; 
$fondo-foto: black;
$letras: black;


