<style>
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,700&display=swap');
</style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Aca tenemos todo lo que es el NAVEGADOR */
nav{
    display: flex;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "inicio obras fotos historia contacto";
    text-align: center;
    justify-content: space-around;
    margin-top: 3px;
    margin-bottom: 3px;
}

nav a{
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    text-align: center;
    justify-content: space-around;
    font-family: 'Merriweather', serif;
    font-size: large;
    border: 2px solid black;
    color: #525558;
}

.inicio{
    grid-area: inicio;
    background-color: #ffbf75;
}

.obras{
    grid-area: obras;
    background-color: #ffbf75;
}

.fotos{
    grid-area: fotos;
    background-color: #ffbf75;
}

.historia{
    grid-area: historia;
    background-color: #ffbf75;
}

.contacto{
    grid-area: contacto;
    background-color: #ffbf75;
}
/* aca tenemos cosas del index */
.baner{
    text-align: center;
    width: 90%; ;
    height: 200px; ;
}

.img-index{
    width: 400px;
    height: 400px;
}

.texto{
    font-family: 'Merriweather', serif;
    font-size: x-large;
}


/* Aca tenemos lo que es el contacto */
