
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #ffbf75;
}






/* Aca tenemos todo lo que es el NAVEGADOR */
nav{
    display: flex;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "inicio obras fotos historia contacto";
    text-align: center;
    justify-content: space-around;
    margin-top: 3px;
    margin-bottom: 3px;
}

nav a{
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    text-align: center;
    justify-content: space-around;
    font-family: 'Merriweather', serif;
    font-size: large;
    border: 2px solid #f4ff91;
    /* color: black; ????????? */
}

.inicio{
    grid-area: inicio;
    background-color: #ffbf75;
}

.obras{
    grid-area: obras;
    background-color: #ffbf75;
}

.fotos{
    grid-area: fotos;
    background-color: #ffbf75;
}

.historia{
    grid-area: historia;
    background-color: #ffbf75;
}

.contacto{
    grid-area: contacto;
    background-color: #ffbf75;
}






/* aca tenemos cosas del index */
.baner{
    text-align: center;
    width: max-content; 
    height: 200px;
}

.baner-div{
    background-color: white;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}
.grid-index{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "img-index-1 video img-index-2";
    justify-content: center;
}

.img-index-1{
    grid-area: img-index-1;
    width: 400px;
    height: 400px;
}

.video{
    grid-area: video;
    width: 1100px;
    height: 400px;
}

.img-index-2{
    grid-area: img-index-2;
    width: 400px;
    height: 400px;
}



.texto{
    font-family: 'Merriweather', serif;
    font-size: x-large;
    background-color: #ffbf75;
    color: black;
    border: 3px solid #f4ff91;
}


/* Aca tenemos lo que es el contacto */

.tipografia{
    font-family: 'Merriweather', serif;
    color: black;
}
/* aca tenemos lo que es la historia */
/* .intro-historia{
    background-color: #ffbf75;
}

.resto-historia{
    background-color: #ffbf75;
} */
