@import "../variables/variables";
.baner-div{
    background-color: $fondo-foto;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    .baner{
        text-align: center;
        width: max-content; 
        height: 200px;
    }
    p{
        color: white;
    }
}


.bordear-contacto{
    display: flex;
    border: $borde;
    flex-direction: column;
    justify-content: center;
    .borde-contacto{
        margin-left: 450px;

    }
    
}