@import "../variables/variables";
.baner-div{
    background-color: $fondo-foto;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    .baner{
        text-align: center;
        width: max-content; 
        height: 200px;
    }
    p{
        color: white;
    }
}


.bordear-contacto{
    display: flex;
    border: $borde;
    flex-direction: column;
    justify-content: center;
    .borde-contacto{
        margin-left: 450px;

    }
    
}

// Aca esta para que se vea en el cel

@media only screen and (max-width: 576px){

    // Aca esta el banner

    .baner-div{
        background-color: $fondo-foto;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        .baner{
            text-align: center;
            width: max-content; 
            height: 200px;
        }
        p{
            color: white;
            display: none;
        }
    }

    // Aca esta el fomulario

    .bordear-contacto{
        display: flex;
        border: $borde;
        flex-direction: column;
        justify-content: center;
        .borde-contacto{
            margin-left: 5px;
            margin-right: 5px;
        }
    }    
}