@import "../variables/variables";

// Aca tenemos lo que es el nav
nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "inicio obras fotos historia contacto";
    text-align: center;
    justify-content: space-around;
    margin-top: 3px;
    margin-bottom: 3px;
    a{
        flex-direction: row;
        flex-wrap: wrap;
        text-decoration: none;
        text-align: center;
        justify-content: space-around;
        font-family: $tipografia;
        font-size: large;
        border: $borde;
        color: $letras;
    }
    @each $grid in inicio, obras, fotos, historia, contacto {
        .#{$grid}{
            background-color: $fondo;
            grid-area: #{$grid};
        }
        
    }
}

// Aca tenemos lo que es el baner
.baner-div{
    background-color: $fondo-foto;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    .baner{
        text-align: center;
        width: max-content; 
        height: 200px;
    }
    p{
        color: white;
    }
}


// Aca va lo que son las fotos y video

.grid-index{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "img-index-1 video img-index-2";
    justify-content: center;
    background-color: $fondo-foto;
    .img-index-1{
        grid-area: img-index-1;
        width: 400px;
        height: 400px;
    }
    .video{
        grid-area: video;
        width: 1100px;
        height: 400px;
    }
    .img-index-2{
        grid-area: img-index-2;
        width: 400px;
        height: 400px;
    }
}


.texto{
    font-family: 'Merriweather', serif;
    font-size: x-large;
    background-color: #ffbf75;
    color: black;
    border: $borde;
    padding: 15px;
    margin: 15px;
}

// Aca esta para que se vea en el cel

@media only screen and (max-width: 576px) {
    
    
    // Aca esta el baner
    
    .baner-div{
        background-color: $fondo-foto;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        .baner{
            text-align: center;
            width: max-content; 
            height: 200px;
        }
        p{
            color: white;
            display: none;
        }
    }
    
    // Aca esta el video y las fotos

    .grid-index{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "img-index-1 video img-index-2";
        justify-content: center;
        background-color: $fondo-foto;
        .img-index-1{
            grid-area: img-index-1;
            width: 400px;
            height: 400px;
            display: none;
        }
        .video{
            grid-area: video;
            width: 320px;
            height: 400px;
        }
        .img-index-2{
            grid-area: img-index-2;
            width: 400px;
            height: 400px;
            display: none;
        }
    }

}


// Aca esta para que se vea en la tablet/laptop

@media only screen and (max-width: 768px) {


    // Aca tenemos lo que es el baner
.baner-div{
    background-color: $fondo-foto;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    .baner{
        text-align: center;
        width: max-content; 
        height: 200px;
    }
    p{
        flex-direction: row;
        color: white;
        height: 50px;
        padding-left: 150px;
        
    }
}

// Aca esta el video y las fotos

.grid-index{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "img-index-1 video img-index-2";
    justify-content: center;
    background-color: $fondo-foto;
    .img-index-1{
        grid-area: img-index-1;
        width: 300px;
        height: 400px;
    }
    .video{
        grid-area: video;
        width: 320px;
        height: 400px;
    }
    .img-index-2{
        grid-area: img-index-2;
        width: 300px;
        height: 400px;
    }
}
}
